""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" The .ideavimrc file of Lucian Pestritu
" Check http://github.com/lucianp/dotfiles for the latest version.
"
" IdeaVim[1] is a Vim emulation plugin for IDEs based on the IntelliJ platform.
" [1]. https://github.com/JetBrains/ideavim
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Makes searches case-insensitive by default
set ignorecase
" Search results will be highlighted
set hlsearch
" Move the cursor to the first closest match as the search pattern is typed
set incsearch
" Print the line number in front of each line
set number
" Show the line number relative to the current line
set relativenumber
" Emulate the vim-surround plugin (https://github.com/tpope/vim-surround)
set surround

" !!! Comments should not be placed on the same line with *map commands
" Set the leader key(s) to space (the default is backslash \)
" Note the different syntax for <Space> (in Vim proper it is "\<Space>")
let mapleader = " "
let maplocalleader = " "
" Press jj instead of <Esc> to exit insert mode
imap jj <Esc>
" Y yanks the current inner word into the "y register
noremap Y "yyiw
" S replaces the current inner word with the "y register
noremap S diw"yP
" Press <Space>w to save file (normal mode)
nnoremap <Leader>w :w<CR>
" Copy to system clipboard with <Space>y (visual mode)
vmap <Leader>y "+y
" Cut to system clipboard with <Space>d (visual mode)
vmap <Leader>d "+d
" Paste from system clipboard with <Space>p or <Space>P (normal mode)
nmap <Leader>p "+p
nmap <Leader>P "+P
" Paste from system clipboard with <Space>p or <Space>P (visual mode)
vmap <Leader>p "+p
vmap <Leader>P "+P
" Enter visual line mode with <Space><Space>
nmap <Leader><Leader> V

