""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" The .ideavimrc file of Lucian Pestritu
" Check http://github.com/lucianp/dotfiles for the latest version.
"
" IdeaVim[1] is a Vim emulation plugin for IDEs based on the IntelliJ platform.
" [1]. https://github.com/JetBrains/ideavim
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Makes searches case-insensitive by default
set ignorecase
" Search results will be highlighted
set hlsearch
" Move the cursor to the first closest match as the search pattern is typed
set incsearch
" Print the line number in front of each line
set number
" Show the line number relative to the current line
set relativenumber
" Emulate the vim-surround plugin (https://github.com/tpope/vim-surround)
set surround

" !!! Comments should not be placed on the same line with *map commands
" Set the leader key(s) to space (the default is backslash \)
" Note the different syntax for <Space> (in Vim proper it is "\<Space>")
let mapleader = " "
let maplocalleader = " "
" Press jj instead of <Esc> to exit insert mode
imap jj <Esc>
" Y yanks the current inner word into the "y register
noremap Y "yyiw
" S replaces the current inner word with the "y register
noremap S diw"yP
" Press <Space>fs to save file (normal mode)
nnoremap <Leader>fs :w<CR>
" Copy to system clipboard with <Space>oy (visual mode)
vmap <Leader>oy "+y
" Cut to system clipboard with <Space>od (visual mode)
vmap <Leader>od "+d
" Paste from system clipboard with <Space>op or <Space>oP (normal mode)
nmap <Leader>op "+p
nmap <Leader>oP "+P
" Paste from system clipboard with <Space>op or <Space>oP (visual mode)
vmap <Leader>op "+p
vmap <Leader>oP "+P

